
.nav {
	FONT-WEIGHT: BOLD;
	FONT-SIZE: 20PX;
}

.HOME-DESCRIPTION {
        padding-left: 10px;
	WIDTH: 650PX;
}

.HOME-DESCRIPTION H1 {
	FONT-SIZE: 40PX;
	FONT-WEIGHT: BOLD;
	COLOR: RGB(180,60,40);
}

.HOME-DESCRIPTION P {
	FONT-SIZE: 20PX;
}